* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 110px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.logo-header {
  height: 55px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 56px;
}

.main-nav ul li:hover {
  opacity: 70%;
  scale: 1.05;
}

.main-nav ul li a {
  text-decoration: none;
  color: #000;
  font-family: "Playfair Display SC", serif;
}

.main-nav a.active {
  border-bottom: 2px solid #fca311;
}

.profile-icon-container a {
  display: block;
  width: 28px;
  height: 28px;
}

.profile-icon {
  width: 28px;
  height: 28px;
}

.menu-icon-container {
  display: none;
}
.menu-icon {
  display: none;
}

.profile-icon:hover {
  scale: 1.05;
  opacity: 70%;
}

.mobile-menu {
  display: none;
}

@media (max-width: 850px) {
  .main-header {
    padding: 5px 20px;
  }

  .main-nav {
    display: none;
  }

  .menu-icon-container {
    display: block;
    border: none;
    background: none;
  }

  .menu-icon {
    display: block;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }

  .menu-icon:hover {
    scale: 1.05;
    opacity: 70%;
  }

  .mobile-menu {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 999;
  }

  .mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .mobile-menu ul li:hover {
    opacity: 70%;
    scale: 1.05;
  }

  .mobile-menu ul li a {
    text-decoration: none;
    color: #000;
    font-family: "Playfair Display SC", serif;
  }

  .mobile-menu a.active {
    border-bottom: 2px solid #fca311;
  }

  .cross-menu-container {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background: none;
    border: none;
  }

  .cross-menu {
    width: 28px;
    height: 28px;
  }

  .cross-menu:hover {
    transform: scale(1.1);
  }
}

/* -- HOME SCREEN -- */
/* LANDING */

.landing {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/background.png");
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 110px;
}

.landing-texts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.landing h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 90px;
  text-align: center;
}

.landing-buttons {
  display: flex;
  gap: 20px;
}

.button {
  font-family: "Playfair Display SC", serif;
  border-radius: 16px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  border: 1px solid #000;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

.button-landing {
  min-width: 200px;
  font-size: 18px;
  font-weight: bold;
}

.button-primary {
  background-color: #000;
  color: #fff;
}

.button-primary:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.button-secondary {
  background-color: rgba(255, 255, 255, 0);
  color: #000;
}

.button-secondary:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 800px) {
  .landing {
    padding: 0px;
    justify-content: center;
  }

  .landing h1 {
    font-size: 70px;
  }
}

@media (max-width: 500px) {
  .landing h1 {
    font-size: 40px;
  }

  .landing-buttons {
    gap: 10px;
  }

  .button-landing {
    min-width: 100px;
    font-size: 12px;
  }
}

/* SECTION 1 */

.home-products-section {
  padding: 100px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}

.section-title {
  font-family: "Playfair Display", serif;
  color: #818487;
  font-size: 38px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 260px;
  text-align: center;
  transition: 0.3s ease;
}

.product-card:hover {
  scale: 1.05;
}

.product-card div {
  padding: 14px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-card img {
  width: 260px;
  height: 380px;
}

.product-card h4 {
  font-size: 16px;
}

.product-card-price {
  font-size: 18px;
  font-weight: bold;
}

/* SECTION 2 */

.home-categories-section {
  padding: 100px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
  background-color: #818487;
}

.home-categories-section h2 {
  color: #fff;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.categories-list a {
  text-decoration: none;
  color: #000;
}

.category-card {
  position: relative;
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  font-size: 24px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-card img {
  display: block;
  width: 600px;
  height: 500px;
  transition: 0.5s ease;
}

.category-card p {
  position: absolute;
  transition: 0.5s ease;
}

.category-card:hover img {
  transform: scale(1.1);
}

.category-card:hover p {
  transform: scale(1.2);
  text-decoration: underline solid;
}

.category-card-title-1 {
  bottom: 80px;
  right: 80px;
}

.category-card-title-2 {
  bottom: 80px;
  left: 80px;
}

.category-card-title-3 {
  top: 80px;
  right: 80px;
}

.category-card-title-4 {
  top: 80px;
  left: 80px;
}

/* -- LOGIN SCREEN -- */

.login-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.login-section h2 {
  margin-bottom: 30px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 30px 60px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(134, 134, 134, 0.75);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-btn {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
  text-align: center;
}

.login-button {
  background-color: #fca311;
}

.login-button:hover {
  background-color: #fbab2a;
}

.form-recovery-password {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.form-recovery-password a {
  font-size: 14px;
  text-decoration: none;
}

.login-form hr {
  margin: 20px 0px;
}

.register-button {
  background-color: #293241;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.register-button:hover {
  background-color: #323e53;
}

@media (max-width: 500px) {
  .login-section {
    padding: 0px 20px;
  }

  .login-form {
    padding: 25px;
  }
}

/* -- REGISTER SCREEN -- */

.register-section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.register-section h2 {
  margin-bottom: 30px;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 30px 60px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(134, 134, 134, 0.75);
}

.form-group-row {
  display: flex;
  gap: 10px;
}

.register-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .register-section {
    padding: 0px 20px;
  }

  .register-form {
    padding: 25px;
  }
}
